@media (max-width: 1350px) {
    .content {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    .background-img {
        width: 30%;
    }

    .detail-news {
        width: 70%;
    }

    .content {
        width: 80%;
    }

    table.results {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    table.results {
        font-size: 10px;
    }

    .header {
        background: #f4f4f4;
    }
}

@media (max-width: 860px) {
    .background-img {
        display: none;
    }

    .content {
        width: 100%;
    }
}

@media (max-width: 812px) {
    .show-pk {
        display: none;
    }
    .show-mobile {
        display: block;
    }
}
