@font-face {
    font-family: "Exo";
    src: url(../fonts/Exo%202%20Regular%20Expanded.eot);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Exo";
    src: url(../fonts/Exo%202%20Regular%20Expanded.otf);
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: 'Exo', sans-serif;
    background: #f4f4f4;
    color: #4b4e53;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.content a, h1, h2, h3, h4 {
    color: #4b4e53;
}

.content a {
    text-decoration: underline;
}

.content a:hover {
    color: #56a025;
}

img {
    max-width: 100%;
}

.mobile-only {
    display: none !important;
}

.img {
    padding: 0px;
}

ul {
    margin: 0px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-50 {
    padding-left: 50px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-50 {
    padding-right: 50px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}

/*==== Шапка сайта ====*/

ul.contact {
    float: right;
    padding-right: 15px;
}

ul.contact li {
    list-style: none;
    display: inline;
    padding-left: 30px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav > li > a {
    padding-bottom: 15px;
}

nav .navbar-brand img {
    height: 100%;
}

nav .navbar-brand {
    padding: 0;
}

nav li > a {
    color: #404040;
}

nav li > .active {
    border-bottom: 2px solid #4b4e53;
}

nav .navbar-toggle {
    border-color: #ddd;
}

nav .navbar-toggle .icon-bar {
    background: #888
}

.dropdown-menu > li > a {
    padding: 10px;
    color: #fff;
}

.dropdown-menu > li > a:hover {
    padding-left: 15px;
    background: #686c73;
    color: #fff;
}

.navbar-left .dropdown-menu {
    left: 0;
    right: auto;
    background: #686c73;
}

.navbar-nav > li {
    padding-bottom: 10px;
}

.nav > li > a {
    padding: 10px 5px;
    margin: 0 8px;
}

.nav a {
    text-transform: uppercase;
}

.content {
    padding: 60px 20px 0 20px;
    position: relative;
    z-index: 10000;
    width: 60%;
}

.list .item {
    padding: 5px 10px;
}

.list .item .toggle {
    position: relative;
}

.list .item .toggle .title {
    color: #4b4e53;
    padding: 5px 10px;
    height: 30px;
    z-index: 10;
    cursor: pointer;
    position: relative;
}

.list .item .toggle .title:hover {
    text-decoration: underline;
}

.list .item .toggle .background {
    height: 30px;
    background: #4b4e53;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1;
}

.list .info {
    display: none;
    padding-left: 10px;
}

.title-with-bg {
    background: #4b4e53;
    color: #fff;
    margin-top: 10px;
    padding: 5px;
}

h2 {
    text-transform: uppercase;
}

.news h3 {
    margin: 30px 0 20px;
    font-size: 20px;
}

.news .item {
    padding-bottom: 30px;
}

.news .item .date {
    padding-bottom: 5px;
}

.pagination {
    color: #4b4e53;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #56a025;
    border-color: #56a025;
}

.pagination > li > a, .pagination > li > span {
    color: #4b4e53;
}

.background-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    z-index: 1;
}
.background-img img {
    width: 100%;
}

.detail-news {
    width: 80%;
}

.white-menu {
    border-top: 2px solid #4b4e53
}

.content .btn-dark, .content .btn-dark a {
    background: #4b4e53;
    color: #f4f4f4;
    text-decoration: none;
    border-radius: 0px;
}

table.results td, table.results th {
    vertical-align: middle!important;
    border-collapse: collapse;
    border: 1px solid #4b4e53;
}
table.results {
    border-top: 1px solid #4b4e53;
    background: #fff;
}
table.results > thead > tr > th {
    border-bottom: 1px solid #4b4e53;
}
/*
table.results th {
    text-align:center;
    white-space:nowrap;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
table.results th p {
    margin:0 -100%;
    display:inline-block;
}
table.results th p:before {
    content:'';
    width:0;
    padding-top:110%;
    display:inline-block;
    vertical-align:middle;
}
*/

span.red {
    color: #dc0004;
    font-size: 10px;
}

span.green {
    color: #00aa00;
}

table.results small {
    color: #686c73;
}

.show-mobile table.results th:first-child {
    max-width: 70px;
}

.show-mobile {
    display: none;
}

.help-for-athlete {
    background: #cfe4ff;
    width: 100%;
    padding: 2px 5px;
}

.modal-dialog {
    top: 40px;
}