@media (max-width: 1450px) {
    .contact_text {
        font-size: 12px;
    }

    .help .item {
        font-size: 8px;
    }

    .all-news .item h3 {
        font-size: 14px;
    }
}

@media (max-width: 1400px) {
    .tracks .item .picture {
        width: 60%;
    }

    .tracks .item .info {
        width: 40%;
    }
}

@media (max-width: 1330px) {
    .slider .slider_text {
        padding: 10px;
        font-size: 24px;
    }

    .regular-table {
        font-size: 12px;
        line-height: 16px;
    }

    .full-logo h3 {
        font-size: 50px;
    }
}

@media (max-width: 1290px) {
    .contact_text {
        font-size: 10px;
    }

    .contact_text h3 {
        font-size: 12px;
    }

    .contact p {
        padding-top: 3px;
    }

    .all-news .item h3, .all-news .item {
        font-size: 12px;
    }

    .news_list div {
        font-size: 12px;
    }

    .tracks .item .info {
        font-size: 12px;
    }
}

@media (max-width: 1122px) {
    .slider .slider_text {
        width: 40%;
    }

    .tracks .item .info {
        font-size: 10px;
    }
}

@media (max-width: 1086px) {
    .contact_text {
        background: none;
        font-size: 12px;
    }

    .addr1, .addr2 {
        width: 100%;
        position: static;
    }
}

@media (max-width: 991px) {
    .one_russia .item {
        font-size: 44px;
    }

    nav li > a {
        font-size: 10px;
    }

    .dropdown-menu > li > a {
        padding: 10px 20px;
    }

    .header {
        background: #242423;
    }

    .all-news {
        padding: 15px;
    }

    .all-news .item {
        background: linear-gradient(to left, #ffffff, #353535);
    }

    .regular .item {
        padding: 5px 10px;
    }

    .news_list div {
        text-transform: lowercase;
        font-size: 10px;
    }

    .full-preview .title {
        width: 30%;
    }

    .full-preview .title h3 {
        font-size: 14px;
        padding-right: 12px;
    }

    .tracks .description {
        padding: 10px 20px;
    }
}

@media (max-width: 934px) {
    .slider .slider_text {
        font-size: 18px;
    }

    .tracks .item .picture {
        width: 100%;
    }

    .tracks .link {
        position: relative;
    }

    .tracks .item .info {
        position: relative;
        width: 100%;
    }
}

@media (max-width: 847px) {
    .slider .slider_text {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .developer {
        padding-top: 30px;
    }

    .contact_text {
        top: 70px;
    }

    .map {
        position: relative;
        width: 100%;
        height: 400px;
    }

    .contact-mobile {
        display: block;
    }

    .system-page h3 {
        font-size: 16px;
    }

    .big-hide {
        display: block;
    }

    .big-show {
        display: none;
    }
}

@media (max-width: 652px) {
    html, body {
        font-size: 12px;
    }

    .one_russia .item {
        font-size: 24px;
    }

    .slider .slider_text {
        font-size: 12px;
        bottom: 40px;
        width: 90%;
    }

    .owl-controls {
        bottom: 10px;
    }

    .owl-theme .owl-controls .owl-page span {
        width: 8px;
        height: 8px;
    }

    .show-mobile {
        display: block;
    }

    .show-pk {
        display: none;
    }

    .full-preview .title {
        width: 50%;
    }

    .full-preview .title h3 {
        font-size: 12px;
        padding-right: 10px;
    }
}

@media (max-width: 337px) {
    html, body {
        font-size: 10px;
    }

    .full-preview .title h3 {
        font-size: 10px;
    }

    .one_russia .item {
        font-size: 18px;
    }
}